html,body{
    font-family: Georgia;
    color: black;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
header{
    width: 100%;
    height: 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.contact a{
    margin: 10px;
    text-decoration: none;
    color: black;
}
.icones{
    display: block;
    flex-direction: row;
}
#vege-food{
    width: 100%;
    background-image: url(https://cdn.pixabay.com/photo/2016/10/04/05/21/bar-1713610_960_720.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 70vh;
}
.logo img{
    width: 200px;
    height: 100px;
}
.menu{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 40px;
    margin: 0 auto;
}
nav ul li{
    list-style: none;
}
nav ul{
    display: flex;
}
nav ul li a.active{
    color: white;
    font-size: larger;
    border: 1px solid #85AD25;
    border-radius: 5px;
}
nav ul li a{
    font-style: bold;
    position: relative;
    color: white;
    text-align: none;
    font-size: larger;
    margin: 10px;
    padding: 8px;
    text-decoration: none;
}
 nav ul li a:after{
    content: "";
    position: absolute;
    background: #85AD25;
    height: 3px;
    width: 0;
    left: 0;
    bottom: 2px;
    transition: 0.6s;
}
 nav ul li a:hover:after{
    width: 100%;
}
.hamburguer{
    display: none;
    height: fit-content;
    cursor: pointer;
    padding: 3px 8px;
    border-radius: 5px;
    transition: 0.5s;
}
.hamburguer:hover{
    background-color: whitesmoke;
}
.hamburguer div{
    width: 30px;
    height: 2px;
    margin: 6px;
    color: #85AD25;
    background-color: #85AD25
}
@media only screen and (max-width: 1100px){
    .menu{
        width: 90%;
        padding: 0 20px;
    }
    nav{
        margin-top: 100px;
        position: absolute;
        left: -300px;
        top: 0;
        z-index: 999;
        width: 280px;
        height: 100vh;
        background: black;
        transition: 0.5s;
        box-shadow: 2px 0 2px 0 rgb(179, 177, 177);
    }
    nav ul li{
        margin-top: 10px;
    }
    nav ul li a.active{
        border-style: none;
        color: white;
    }
    #nav_check:checked ~ nav {
        left: 0;
    }
    nav ul li a{
        color: white;
        margin-bottom: 5px ;
        padding: 10px 15px;
        text-decoration: none;
    }
    nav ul li a:hover{
        border: 1px solid #85AD25;
        width: 150px;
        height: 30px;
        border-radius: 5px;
    }
    nav ul li a:hover:after{
        width: 0;
    }
    nav ul {
        display: block;
        padding: 0 20px;
        margin-top: 30px;
    }
    .hamburguer{
        display:block;
    }
}
.texto{
    font-size: larger;
    text-align: center;
    color: white;
}
.main_paragraph{
    font-size: 50px
}
#btn{
    width: 160px;
    height: 40px;
    background-color: #85AD25;
    color: whitesmoke;
    border-style: none;
    border-radius: 50px;
}
/*Estilizando id "ABOUT" */
#about{
    color: gray;
}
.about{
    margin: auto;
    width: 900px;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.foto img{
    width: 400px;
}
.about_us{
    background-color: rgb(237, 235, 235);
    width: 500px;
    height: 300px;
    text-align: center;
    margin-top: 100px;
}
h3{
    font-size: 30px;
    color: black;
    margin-top: 100px;
    text-align: center;
}

/* Estilizando div "ITEMS" */
.items h2{
    text-align: center;
    margin-top: 100px;
    color: #85AD25;
}
.meal{
    text-align: center;
    display: flex;
    flex-direction: row ;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 80px;
    color: #85AD25;
}
.morning_meal img,.lunch img,.dinner img,.dessert img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
/* estilizando id "MENU" */
#menu{
    width: 100%;
    height: 70vh;
    margin-top: 50px;
   background-image: url(https://cdn.pixabay.com/photo/2015/11/30/23/32/eve-1071355_960_720.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    /*display: flex;
    justify-content: center;
    align-items: center;*/
}
.buttons{
    text-align: center;
}
.buttons input{
    margin: 5px;
    margin-top: 100px;
    width: 160px;
    height: 40px;
    background: none;
    color: whitesmoke;
    border: 2px solid #85AD25;
    border-radius: 50px;
}
.buttons input:hover{
    background: #85AD25;
    transition: 0.5s;
}
.container{
    margin: auto;
    margin-top:50px;
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: white;
    border: 1px solid black;
}
.article, .article img{
    width: 300px;
    height: 500px;
}
.breackfast{
width: 600px;
}
.breackfast p, h2{
    margin: 5px;
}
.cards{
    display: flex;
    flex-direction: row;
}
.card1, .card2, .card3{
font-size: medium;
background-color: white;
width: 220px;
height: 260px;
border: 1px solid gray;
margin-top: 80px;
margin-left: 8px;
border-radius: 5px;
}
.img img{
    width: 220px;
    height: 150px;
}
.description p{
   margin: 5px; 
   font-size: small;
}
.description img{
    text-align: end;
    width: 99px;
    height: 15px;
}
.price{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;
}
.emoji{
    font-size: large;
}
#price{
    width: 100px;
    height: 25px;
    background-color: #85AD25;
    border-style: none;
    color: white;
}

/* estilizando o ID "Chef" */
#chef{
    width: 100%;
    margin-top: 300px;
}
#chef h2{
    text-align: center;
}
.chef-photo{
    margin-top: 150px;
    max-width: 900px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.chef-card{
    text-align: center;
    margin-top: 30px;
    width: 290px;
    height: 270px;
    color: white;
    background-color: #85AD25;
}
.chef-card img{
    width: 290px;
    height: 200px;
}

/*stilizando div "FEEDBACK" */
.feedback{
    margin-top: 100px;
    background-color: black;
    color: white;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.testimony{
    margin: 70px;
}
.radio{
    display: flex;
    flex-direction: row;
}
.radio div{
    width: 10px;
    height: 10px;
    background: #85AD25;
    margin: 5px;
    border-radius: 50%;
}
.client-photo img{
    width: 500px;
    height: 400px;
}
/*Estilizando id "EVENT"*/
#event h2{
    margin-top: 150px;
    text-align: center;
}
.event-photos{
    margin-top: 100px;
    max-width: 900px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.event-article{
    text-align: center;
    margin-top: 30px;
    width: 290px;
    height: 270px;
    color: black;
   border: 2px solid #85AD25;
}
.event-article img{
    width: 290px;
    height: 200px;
}
/*estilizando section "season-offer"*/
#season-offer{
    margin-top: 100px;
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-image: url(https://cdn.pixabay.com/photo/2014/06/16/23/39/black-370118_960_720.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.season-offer-texto{
    color: white;
    margin-top: 150px;
}
.season-offer-photo{
    margin-top: 80px;
    width: 400px;
    height: 400px;
    background: none;
    border: 10px solid #85AD25;
}
.season-offer-photo img{
    width: 290;
    height: 300px;
    float: left;
    margin-top: 50px;
}
/* estilizando id "BLOG"*/
#blog{
    margin-top: 100px;
}
#blog h2{
    text-align: center;
}
.our_blog{
    width: 1000px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.blog_img img{
    width: 150px;
    height: 230px ;
}
.blog_texto{
    margin: 5px;
}
.blog{
    margin: 5px;
    margin-top: 10px;
    width: 450px;
    height: 230px;
    display: flex;
    flex-direction: row;
    border: 1px solid #85AD25;
}
/* estilizando a section CONTACT*/
#Contact{
    margin-top: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-image: url(https://cdn.pixabay.com/photo/2014/06/16/23/39/black-370118_960_720.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
}
#Contact a{
    text-decoration: none;
color: whitesmoke;
}
.links,.extras,.insta,.ig-photos{
    margin-top: 60px;
}
.ig-photos img{
    width: 180px;
    height: 170px;
}
.main{
    color: #85AD25;
}
/*estilizando footer*/
.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 35px;
    color: white;
    background-color: black;
}
.footer a{
    margin: 5px;
    color: whitesmoke;
    text-decoration: none;
}
.foot,.date{
margin-top: 10px;
}
@media screen and (max-width:768px){
    header{
        display: none;
    }
    #vege-food{
        width: 100%;
        height: 65vh;
    }
    .texto{
        font-size: medium;
    }
    .about{
        width: 100%;
        margin-top: 100px;
        display: flex;
        flex-direction: row;
    }
    .foto img{
        width:300px;
        height: 400px ;
    }
    .about_us p, input{
        margin: 10px;
    }
    .about_us{
        margin-top: 0;
        background-color: rgb(237, 235, 235);
        width: 400px;
        text-align:left;
        margin-top: 100px;
    }
    .article{
        display: none;
    }
    .container{
        border: none;
    }
    .card1, .card2, .card3{
        margin-top: 40px;
    }
    .feedback{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .client-photo img{
        width: 100%;
    }
    .season-offer-texto{
        color: white;
        margin-top: 150px;
        margin-left: 5px;
    }
    .season-offer-photo{
        margin-top: 80px;
        width: 300px;
        height: 300px;
        background: none;
        border: 10px solid #85AD25;
    }
    .season-offer-photo img{
        width: 210;
        height: 300px;
        float: center;
        margin-top: 0px;
    }
    .our_blog{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .blog_img img{
        width: 150px;
        height: 190px ;
    }
    .blog_texto{
        margin-left: 10px;
    }
    .blog{
        margin: 20px;
        margin-top: 10px;
        width: 550px;
        height: 190px;
        display: flex;
        flex-direction: row;
        border: 1px solid #85AD25;
    }
    #Contact{
        margin-top: 100px;
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
}
.main{
    color: #85AD25;
}
.footer{
    font-size: small;
}
}
@media screen and (max-width:450px){
    header{
        display: none;
    }
    .main_paragraph{
        font-size: 30px
    }
    .about_us{
        margin-top: 0px;
    }
    .morning_meal img,.lunch img,.dinner img,.dessert img{
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }
    #menu{
        background: none;
        height: 155vh;
    }
    #season-offer{
        display: flex;
        flex-direction: column;
        height: 100vh;
    }
    .season-offer-texto{
        font-size: small;
        margin-top:50px;
    }
    .season-offer-photo{
        margin-top: 20px;
    }
    .season-offer-photo img{
        width: 290px;
    }
    .buttons{
        margin-top: 5px;
        background: black;
        display: none;
    }
    .container{
        margin-top: 10px;
    }
    .breackfast p{
        font-size: smaller;
    }
    .cards{
        display: flex;
        flex-direction: column;
    }
    .card1, .card2, .card3{
        margin-top: 5px;
        margin-left: 25px;
    }
    #chef{
        margin-top: 30px;
    }
    .blog_img img{
        width: 140px;
        height: 200px ;
    }
    .blog_texto{
        margin: 3px;
    }
    .blog{
        margin: 5px;
        margin-top: 10px;
        width: 400px;
        height: 200px;
    }
    .footer{
        font-size: x-small;
    }
}
@media screen and (max-width:320px){
    /*#vege-food{
        height: 70vh;
    }*/
    .main_paragraph{
        font-size: 30px
    }
    .about_us{
        height: 350px;
        text-align: center;
    }
    .meal{
        font-size: small;
    }
    .morning_meal img,.lunch img,.dinner img,.dessert img{
        width: 70px;
        height: 70px;
        border-radius: 50%;
    }
    .buttons{
        display: none;
    }
    #chef{
    margin-top:0px;
    }
    #contact{
        font-size: small;
    }
    .blog_img img{
        width: 80px;
        height: 150px ;
    }
    .blog_texto{
        margin: 0px;
        font-size: smaller;
    }
    .blog{
        margin: 0px;
       font-size: smaller;
       height: 150px;
       height: 140;
       margin-top: 8px;
    }
    .footer{
        font-size: xx-small;
    }
}
